In [5]:
!pip install pytorch_lightning

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pytorch_lightning in c:\users\izal\appdata\roaming\python\python39\site-packages (1.9.0)
Requirement already satisfied: numpy>=1.17.2 in c:\programdata\anaconda3\lib\site-packages (from pytorch_lightning) (1.21.5)
Requirement already satisfied: torch>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from pytorch_lightning) (1.13.1)
Requirement already satisfied: torchmetrics>=0.7.0 in c:\users\izal\appdata\roaming\python\python39\site-packages (from pytorch_lightning) (0.11.0)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\programdata\anaconda3\lib\site-packages (from pytorch_lightning) (4.3.0)
Requirement already satisfied: PyYAML>=5.4 in c:\programdata\anaconda3\lib\site-packages (from pytorch_lightning) (6.0)
Requirement already satisfied: tqdm>=4.57.0 in c:\programdata\anaconda3\lib\site-packages (from pytorch_lightning) (4.64.1)
Requirement already satisfied: packaging>=17.1 in c:\programdata\anaconda3\lib\site-packages (from pytorch_lightning) (21.3)
Requirement already satisfied: lightning-utilities>=0.4.2 in c:\users\izal\appdata\roaming\python\python39\site-packages (from pytorch_lightning) (0.5.0)
Requirement already satisfied: fsspec[http]>2021.06.0 in c:\programdata\anaconda3\lib\site-packages (from pytorch_lightning) (2022.7.1)
Requirement already satisfied: aiohttp in c:\users\izal\appdata\roaming\python\python39\site-packages (from fsspec[http]>2021.06.0->pytorch_lightning) (3.8.3)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from fsspec[http]>2021.06.0->pytorch_lightning) (2.28.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=17.1->pytorch_lightning) (3.0.9)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>=4.57.0->pytorch_lightning) (0.4.5)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\izal\appdata\roaming\python\python39\site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch_lightning) (4.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch_lightning) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\izal\appdata\roaming\python\python39\site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch_lightning) (6.0.4)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\izal\appdata\roaming\python\python39\site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch_lightning) (1.3.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\izal\appdata\roaming\python\python39\site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch_lightning) (1.3.3)
Requirement already satisfied: attrs>=17.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch_lightning) (21.4.0)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\izal\appdata\roaming\python\python39\site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch_lightning) (1.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->fsspec[http]>2021.06.0->pytorch_lightning) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->fsspec[http]>2021.06.0->pytorch_lightning) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->fsspec[http]>2021.06.0->pytorch_lightning) (1.26.11)

In [6]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader
import pytorch_lightning as pl

np.random.seed(123)

In [7]:
ratings = pd.read_csv('datasets/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [9]:
ratings.sample(10)

       userId  movieId  rating   timestamp
16705     105    77455     5.0  1446610793
3692       22     4034     4.5  1268726741
74367     474     4912     3.0  1007320701
49894     319   136864     4.5  1461454241
84800     550   115713     4.5  1488728279
84353     541      293     3.0   835643161
25468     177    25746     3.0  1435537593
16464     105     6537     3.5  1446573433
54562     359      593     4.5  1198111963
13211      84      719     3.0   857653387

In [10]:
ratings.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [11]:
ratings['rank_latest'] = ratings.groupby(['userId'])['timestamp'].rank(method='first', ascending=False)

In [12]:
train_ratings = ratings[ratings['rank_latest'] != 1]
test_ratings = ratings[ratings['rank_latest'] == 1]

# drop column that we no longer need
train_ratings = train_ratings[['userId', 'movieId', 'rating']]
test_ratings = test_ratings[['userId', 'movieId', 'rating']]

In [13]:
train_ratings.loc[:, 'rating'] = 1
train_ratings.sample(5)

       userId  movieId  rating
48199     312     4128       1
95240     600      914       1
2951       19     3705       1
59220     386      494       1
80132     503     5418       1

In [16]:
all_movieIds = ratings['movieId'].unique()
users, items, labels = [], [], []
user_item_set = set(zip(train_ratings['userId'], train_ratings['movieId']))
num_negatives = 4

for (u, i) in tqdm(user_item_set):
    users.append(u)
    items.append(i)
    labels.append(1)

    for _ in range(num_negatives):
        negative_item = np.random.choice(all_movieIds)
        while(u, negative_item) in user_item_set:
            negative_item = np.random.choice(all_movieIds)
        users.append(u)
        items.append(negative_item)
        labels.append(0)

  0%|          | 0/100226 [00:00<?, ?it/s]

In [18]:
class MovieLensTrainDataset(Dataset):
    def __init__(self, ratings, all_movieIds):
        self.users, self.items, self.labels = self.get_dataset(ratings,all_movieIds)

    def __len__(self):
        return len(self.users)

    def __getitem__(self, idx):
        return self.users([idx], self.items[idx], self.labels[idx])

    def get_dataset(self, ratings, all_movieIds):
        users, items, labels = [], [], []
        user_Item_set = set(zip(ratings['userId'], ratings['movieId']))

        num_negatives = 4
        for u, i in user_item_set:
            users.append(u)
            items.append(i)
            labels.append(1)
            for _ in range (num_negatives):
                negative_item = np.random.choice(all_movieIds)
                while (u, negative_item) in user_item_set:
                    negative_item = np.random.choice(all_movieIds)
                users.append(u)
                items.append(negative_item)
                labels.append(0)

        return torch.tensor(users), torch.tensor(items), torch.tensor(labels)